@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Doodle Shadow', monospace;
}

/* utility classes css */
.h-92 {
    height: 92vh;
}
.h-8 {
    height: 8vh;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-col-rev {
    flex-direction: column-reverse;
}
.content-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.self-center {
    align-self: center;
}
.flex-1 {
    flex-grow: 1;
}
.flex-2 {
    flex-grow: 2;
}
.items-stretch {
    align-items: stretch;
}
.font-20 {
    font-size: 3.2vw;
}
.font-15 {
    font-size: 2.4vw;
}
.font-10 {
    font-size: 1.6vw;
}
.bg-gray {
    background-color: #333;
}
.white {
    color: white;
}
.black {
    color: black;
}
.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}
.py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.player {
    border: 4px solid rgb(92, 92, 249);
    border-radius: 25%;
}
.computer {
    border: 4px solid rgb(249, 92, 92);
    border-radius: 25%;
}
.neutral {
    border: 4px solid gray;
    border-radius: 25%;
}
.winner {
    border: 4px solid rgb(92, 249, 92);
    border-radius: 25%;
    background-color: rgba(92, 249, 92, 10%);
}
.gap-20 {
    gap: 20px;
}
.card {
    width: 10vw;
    min-width: 100px;
    aspect-ratio: 1;
}

/* animation css */
@keyframes main {
    from {
        width: 100svw;
        height: 100svh;
    }
    to {
        color: transparent;
        width: 100svw;
        height: 0;  
        z-index: -2;
    }
}

/* specific css */
header {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    color: gold;
    font-size: 6.4vw;
    background-color:  #441a33;;
    animation: main 2s cubic-bezier(0.11, 0.62, 0, 1);
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}
header {
    display: none;
}
main {
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
img {
    width: 50%;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked+label {
    background-color: rgba(92, 92, 249, 10%);
}